// variable
$color-bg: #212529;

@import "otros/queries";

// mapa
$menu: (
    color-li: black,
    bg-li: linear-gradient(to left, gray, white),
    border-li: 2px solid #343a40,
);


// mixin
@mixin flex {
    display: flex;
    justify-content: center;
    align-content: center;
};

// extend
%letra-contenido {
    font-family: ;};

/*body*/
body {
    background-color: $color-bg;
}

.border {
    border: 1px solid black;
    
 }

header {
    grid-area: header;
    background-image: -webkit-linear-gradient(black, yellow);
    padding: 5px;
    margin: 5px;
        h1 {
            text-align: center;
            @extend %letra-contenido;
            color: #fff;
            font-weight: bold;
            animation-duration: 3s;
        }
}

nav {
   grid-area: nav;
   text-align: center;
   padding: 5px;
   margin: 5px;
   background-image: linear-gradient(yellow, black);
     ul {
        @include flex;
        flex-wrap: wrap;
         li {
        border: map-get($menu, border-li);
        margin: 5px;
        padding: 5px;
        background-image: map-get($menu, bg-li);
        color: map-get($menu, color-li);
        list-style-type: none;
            a {
        text-decoration: none;
        color: #212529;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
        }
    }
}
    


main {
   grid-area: contenido;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 5px;
   margin: 5px;
   background-repeat: no-repeat;
   background-size: cover;   
    h2 {
        font-size: 35px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        color: #adb5bd;
        padding: 5px;
        margin: 5px;
    }

    p {
        text-align: justify;
        font-size: 20px;
        color: #212529;
        padding: 5px;
        margin: 5px;
        line-height: 1.5;
        color: #adb5bd;
    }
}

/* FORMULARIO */
main{
 form {
   text-align: justify;
   font-size: 1rem;
   color: #adb5bd;
   padding: 5px;
   margin: 5px;
   line-height: 1.5;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        div {
            padding: 5px;
            }
        .boton  {
            display: inline-block;
            input {
                padding: 5px;
                background-color: #adb5bd;
                border: 2px solid #212529;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: #212529;
             }
            }
        }
    }



/* --------------------------------------------------- */

 section {
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;  
    img {
    height: 90%;
    width: 90%;
    border: 2px solid #adb5bd;
    margin: 5px;
    padding: 5px;
    }
 }

footer {
   grid-area: footer;
   background-color: #343a40;
   padding: 5px;
   margin: 5px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-content: center;
   flex-wrap: wrap;
   text-decoration: none;
   color: #dde1e6;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}