#contenedor {
    display: grid;
    height: 60vh;
    grid-template-areas:
      "header"
      "nav" 
      "contenido" 
      "img" 
      "footer";
    grid-template-rows: 0.2fr 0.2fr 1fr 1fr 0.3fr;
    grid-template-columns: 1fr;
 }



 @media screen and (min-width:600px){
    #contenedor {
        display: grid;
        height: 80vh;
        grid-template-areas:
          "header header"
          "nav nav" 
          "contenido img"  
          "footer footer";
        grid-template-rows: 0.2fr 0.2fr 1.5fr 0.3fr;
        grid-template-columns: repeat(2, 1fr);
     }    
 }

 @media screen and (min-width:1024px){
    #contenedor {
        display: grid;
        height: 100vh;
        grid-template-areas:
          "header header header header"
          "nav nav nav nav" 
          "contenido contenido img img"  
          "footer footer footer footer";
        grid-template-rows: 0.2fr 0.2fr 1.5fr 0.3fr;
        grid-template-columns: repeat(4, 1fr)
     }
    
 }
